* {
    box-sizing: border-box;

}

body {
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0px;
}

.frame {
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
}